extends layout.jade

block content
  .container
    .page-header
      h1 Existing Corrals

    div.grid-container
      each corral in corrals
        div.grid-item 
          .iframe-overlay
          .iframe-holder
            iframe(
              src='/#{corral.id}/preview' 
              name='preview_window_#{corral.id}'
              class='corral-preview-grid'
              sandbox='allow-scripts allow-pointer-lock allow-same-origin' 
              allowfullscreen='false'
              frameborder='0'
              scrolling='no'
              allowtransparency='false'
            )
          a(href=corral.href class='grid-name') #{corral.name}
