include ./header.jade

.container
  .page-header
    h1 #{name}

    form(action='/#{id}/delete' method='post')
      input(type='submit' class='btn btn-danger' value='Delete')

    form(action='/#{id}/update' method='post' class='corral-form')
      .corral
        .corral-item
          label(for='html') HTML
          textarea(name='html' class='editor html-editor')
            | !{html}

        .corral-item
          label(for='css') CSS
          textarea(name='css' class='editor css-editor')
            | !{css}

        .corral-item
          label(for='js') JS
          textarea(name='js' class='editor js-editor')
            | !{js}

      iframe(
        src='/#{id}/preview' 
        name='preview_window'
        class='corral-preview'
        sandbox='allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-modals allow-forms' 
        allowfullscreen='true'
      )

include ./footer.jade
